.scwc-layout-header {
  position: relative;
  width: 100%;
  box-sizing: border-box;
  height: 24px;
  cursor: move;
  background-color: #181a20;
  display: flex;
  align-items: center;
  padding-left: 8px;
  font-size: 12px;
  color: #ccc;
  user-select: none;
}

.scwc-layout-header-title {
  flex: 0 0 auto;
}

.scwc-layout-header-switch-claw-visible {
  position: absolute;
  width: 18px;
  height: 18px;
  top: 3px;
  right: 40px;
  cursor: pointer;
  overflow: hidden;
  border-radius: 2px;
  background-color: transparent;
  padding: 2.5px 0 0 2px;
  box-sizing: border-box;
}

.scwc-layout-header-switch-claw-visible:hover,
.scwc-layout-header-switch-claw-visible[active] {
  background-color: #4e4e4ea5;
}

.scwc-layout-header-switch-plugin-visible {
  position: absolute;
  width: 18px;
  height: 18px;
  top: 3px;
  right: 21px;
  cursor: pointer;
  overflow: hidden;
  border-radius: 2px;
  background-color: transparent;
  padding: 1.5px 0 0 2.5px;
  box-sizing: border-box;
}

.scwc-layout-header-switch-plugin-visible:hover,
.scwc-layout-header-switch-plugin-visible[active] {
  background-color: #4e4e4ea5;
}

.scwc-layout-header-minimize {
  position: absolute;
  width: 18px;
  height: 18px;
  top: 3px;
  padding: 1px 0 0 0;
  right: 2px;
  cursor: pointer;
  overflow: hidden;
  border-radius: 2px;
  box-sizing: border-box;
}

.scwc-layout-header-minimize:hover {
  background-color: #4e4e4ea5;
}
