.scwc-layout-minimized {
  position: fixed;
  left: -16px;
  width: 36px;
  height: 42px;
  cursor: pointer;
  background-color: rgb(35, 39, 46);
  color: rgb(204, 204, 204);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  user-select: none;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.12);
  border: 1px solid #eee6;
}

.scwc-layout-minimized-drag-area {
  font-size: 10px;
  display: inline-block;
  transform: rotate(-90deg) translateY(8px);
  transform-origin: 50% 50%;
}
