.scwc-layout-root {
  position: fixed;
  z-index: 2147483647;
  width: auto;
  height: auto;
  background-color: #23272e;
  border: 1px solid #eee6;
  border-radius: 4px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.12);
  padding: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
