:host {
  flex: 1;
  align-self: stretch;
}

#root-content {
  display: flex;
  width: 100%;
  height: calc(100vh - 34px);
}

.root-aside {
  flex: 0 0 150px;
  /* 高度占满 flex 父元素容器 */
  height: 100%;
}

.root-aside[hidden] {
  display: none;
}

.root-aside .plugin-item scwc-button::part(button) {
  width: 150px;
  height: 34px;
  font-size: 14px;
  border-radius: 0;
  color: var(--base-text-color);
  background-color: var(--base-background-color);
  align-items: center;
  justify-content: left;
}

.root-aside .plugin-item scwc-button::part(button):hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.root-aside .plugin-item.active scwc-button::part(button) {
  background-color: rgba(0, 0, 0, 0.1);
}

.root-main {
  flex: 1;
  border-left: 1px solid #ccc;
}

.root-main .plugin-iframe {
  width: 100%;
  height: 100%;
  border: none;
}
