:host {
  position: fixed;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  z-index: 2147483647;
}

.notify-container {
  position: fixed;
  top: 10px;
  bottom: 10px;
  left: 10px;
  right: 10px;
  pointer-events: none;
  background-color: transparent;
}

.notify-list {
  position: absolute;
}

.notify-list.tl-list {
  top: 0;
  left: 0;
}

.notify-list.tr-list {
  top: 0;
  right: 0;
}

.notify-list.tc-list {
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.notify-list.bl-list {
  bottom: 0;
  left: 0;
}

.notify-list.br-list {
  bottom: 0;
  right: 0;
}

.notify-list.bc-list {
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.notify-item {
  width: 300px;
  margin: 10px;
  padding: 10px 15px;
  border-radius: 4px;
  background-color: #1d1b16;
  color: #fff;
  pointer-events: auto;
  transition:
    opacity 0.25s,
    transform 0.25s,
    top 0.25s,
    bottom 0.25s;
}

.notify-item.info-item {
  background-color: #23272e;
}

.notify-item.success-item {
  background-color: #154703;
}

.notify-item.warn-item {
  background-color: #b27709;
}

.notify-item.error-item {
  background-color: #af2a3a;
}

.notify-item .notify-title {
  font-weight: bold;
  margin-bottom: 5px;
  font-size: 16px;
}

.notify-item .notify-title .notify-title-text {
  width: calc(100% - 20px);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.notify-item .notify-title .notify-close {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 10px;
  height: 10px;
  line-height: 10px;
  text-align: center;
  cursor: pointer;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.8);
}

.notify-item .notify-content {
  font-size: 14px;
}

.notify-item.preparation {
  opacity: 0;
  pointer-events: none;
}

.notify-item.before-enter {
  opacity: 0;
  transform: translateY(-20px);
}

.notify-item.enter.tl-item,
.notify-item.enter.tr-item,
.notify-item.enter.tc-item {
  animation: enter-t 0.25s forwards;
}

@keyframes enter-t {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.notify-item.enter.bl-item,
.notify-item.enter.br-item,
.notify-item.enter.bc-item {
  animation: enter-b 0.25s forwards;
}

@keyframes enter-b {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.notify-item.before-leave {
  opacity: 1;
  transform: translateY(0);
}

.notify-item.leave.tl-item,
.notify-item.leave.tr-item,
.notify-item.leave.tc-item {
  animation: leave-t 0.25s forwards;
}

@keyframes leave-t {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-20px);
  }
}

.notify-item.leave.bl-item,
.notify-item.leave.br-item,
.notify-item.leave.bc-item {
  animation: leave-b 0.25s forwards;
}

@keyframes leave-b {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(20px);
  }
}
